.language {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border-radius: 5px;
  font-weight: 300;
  background-color: rgba(255,255,255,.2);

  &__active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__popup{
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    margin-top: 12px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;

    &:after {
      bottom: 100%;
      right: 13px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 8px;
    }

    &.visible{
      opacity: 1;
      visibility: visible;
    }

  }

  &__item{
    display: block;
    height: 32px;
    padding: 8px 18px;
    color: #333;

    &.active{
      color: #18baea;
    }

  }

}

@media (min-width: $desktop) {

  .language {
    cursor: pointer;

    &:hover{

      .language__popup{
        opacity: 1;
        visibility: visible;
      }

    }

    &__popup{

      &:before{
        position: absolute;
        right: 0;
        bottom: 100%;
        left: 0;
        height: 12px;
        content: '';
      }

      &.visible{
        opacity: 1;
        visibility: visible;
      }

    }

    &__item{

      &:hover{
        background-color: #ebf8fd;
      }

      &.active:hover{
        color: #18baea;
        background-color: transparent;
      }

    }

  }

}
